// src/pages/ExchangePage/ExchangePage.scss
.exchange-page {
  padding-top: 60px;

  &__content {
    padding: 20px;
    @media (max-width: 767px) {
      margin-top: -4rem;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__add-button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;

    &--reserved {
      background-color: #f5f5f5;
      color: #999;

      .exchange-page__avatar,
      .exchange-page__info {
        opacity: 0.6;
      }
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
  }

  &__provider {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  &__service {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
  }

  &__exchange {
    font-size: 14px;
    color: #555;
  }

  &__date {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
  }

  &__arrow {
    font-size: 20px;
    color: #555;
  }

  &__delete-button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;

    &--reserved {
      background-color: green;
      color: white;
      cursor: not-allowed;
    }
  }
}
