// src/pages/ExchangePage/ExchangePage.scss
@use "../../styles/partials/mixins" as *;

.exchange-page {
  padding: 60px 1rem 0rem 1rem;

  @media (min-width: 767px) {
    padding: 60px 2.8rem 1rem 2.8rem;
  }

  @media (min-width: 1280px) {
    padding: 60px 4.8rem 1rem 4.8rem;
  }

  &__content {
    padding: 20px 0;
    @include respond-to("mobile") {
      margin-top: -4rem;
    }
  }

  &__title {
    @include large-title;
    margin-bottom: 1rem;

    @include respond-to("mobile") {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__add-button {
    @include font-style(16px, 400, 20px);
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    gap: 1rem;

    &--reserved {
      background-color: #f5f5f5;
      color: #999;

      .exchange-page__avatar,
      .exchange-page__info {
        opacity: 0.6;
      }
    }
  }

  &__image-wrapper {
    display: inline-block;
    width: 130px;
  }

  &__avatar {
    border-radius: 10px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;
  }

  &__provider {
    @include bold-text(16px, 20px);
    @include respond-to("mobile") {
      font-size: 14px;
    }
  }

  &__service {
    @include font-style(14px, 400, 18px);
    color: #555;
    @include respond-to("mobile") {
      font-size: 12px;
    }
  }

  &__exchange {
    @include font-style(14px, 400, 18px);
    color: #555;
    @include respond-to("mobile") {
      font-size: 12px;
    }
  }

  &__date {
    @include font-style(14px, 400, 18px);
    color: #555;
    @include respond-to("mobile") {
      font-size: 12px;
    }
  }

  &__arrow {
    font-size: 20px;
    color: #555;
  }

  &__delete-button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;

    &--reserved {
      background-color: green;
      color: white;
      cursor: not-allowed;
    }
  }
}
