// src/styles/partials/_globals.scss

@use "./variables" as *;
@use "./mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-family-primary;
  line-height: 1.6;
  background-color: $color-white;
  color: $color-jet;
}

.header {
  font-family: $font-family-display;
}

.paragraph {
  font-family: $font-family-text;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @include large-title;
}

h2 {
  @include title-1;
}

h3 {
  @include title-2;
}

h4 {
  @include title-3;
}

h5 {
  @include headline;
}

h6 {
  @include body;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}
