// InputField.jsx

.input-field {
  display: flex;
  //   width: 50%; // Temp adjustment for mobile view
  align-items: center;
  border: 0px solid #ccc;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 40px;
  padding: 0.5rem;
  background-color: #fff;

  &__icon {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &__icon--search {
    background-image: url("./src/assets/icons/search.svg");
    background-size: cover;
  }

  &__input {
    flex: 1;
    width: 100%; // Temp adjustment for mobile view

    border: none;
    outline: none;
    font-size: 1rem;

    &::placeholder {
      color: #F2F2F2;
      font-size: 1rem;
    }
  }
}
