// Header.scss

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  
    &__logo {
      &-img {
        height: 50px;
        margin-top: 0.5rem;
      }
    }
  
    &__search {
      flex: 1;
      margin: 0 1rem;
    }
  
    &__avatar {
      &-img {
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  