// Header.scss

.header {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  @media (min-width: 767px) {
    padding: 2rem 1.5rem 1rem 2.8rem;
  }

  @media (min-width: 1280px) {
    padding: 2rem 3.8rem 1rem 4.8rem;
  }

  &__logo {
    &-img {
      height: 50px;
      margin-top: 0.5rem;
      filter: invert(48%) sepia(18%) saturate(3385%) hue-rotate(172deg)
        brightness(101%) contrast(102%);
      // Sky blue
    }

    @media (max-width: 767px) {
      display: none; // Hide Logo
    }
  }

  &__search {
    flex: 1;

    @media (min-width: 768px) {
      margin: 0 15rem 0 0;
    }

    @media (min-width: 1280px) {
      margin: 0 20rem 0 20rem;
    }
  }

  &__avatar {
    &-img {
      height: 40px;
      border-radius: 50%;
    }

    @media (max-width: 767px) {
      display: none; // Hide Avatar
    }
  }
}
