// LoginPage.scss

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #ffffff;
  margin: 0rem 0 5rem 0;

  &__content {
    position: relative;
    background: #fff;
    padding: 40px 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    text-align: center;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  &__input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;

    input {
      width: 100%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      box-sizing: border-box;
    }
  }

  &__divider-top {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem -2rem 2rem -2rem;
  }

  &__divider-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  &__divider {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ddd;
  }

  &__divider-text {
    margin: 0 10px;
    font-size: 14px;
    color: #888;
  }

  &__help {
    margin-top: 20px;

    &-link {
      color: #000000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.signup-page {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }

  &__back-icon {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
  }

  &__title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__field {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  &__input-group {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  &__divider-top {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ddd;
    margin: 1rem -2rem 2rem -2rem;
  }
}
