// Footer.scss

.footer {
    background-color: #f8f8f8;
    // margin-bottom: 10rem;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
  
    &__content {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    &__text {
      color: #777;
      font-size: 0.875rem;
    }
  }
  