// HorizontalNavbar.scss
@import "src/styles/partials/variables";

.horizontal-navbar-wrapper {
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  position: fixed;
  top: 55px; // Height of the header
  width: 100%;
  z-index: 999;

  // Hides scrollbar for IE, Edge, and Firefox
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  .horizontal-navbar {
    overflow-x: auto;
    white-space: nowrap;
    background-color: $color-white;
    padding: 1rem 1rem;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    // Hides scrollbar for Webkit browsers
    &::-webkit-scrollbar {
      display: none;
    }

    &__list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 0.5rem;
    }

    &__item {
      // margin: 0.2rem; // Space between items
      // padding:0 1rem 0 0; // Space after the last item on the list

      &:last-child {
        padding-right: 1rem;
      }
    }

    &__link {
      display: inline-block;
      text-decoration: none;
      color: black;
      padding: 0.5rem 1rem;
      background-color: white;
      border: 1px solid white;
      box-shadow: 2px 2px 23px -7px rgba(133, 133, 133, 0.3);

      border-radius: 20px;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: white;
        color: $color-platinum;
        border: 1px solid white;
      }
    }
  }
}
